<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static',     filename='css/main.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap.min.css') }}">
</head>

<body>
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="../static/images/daidien.jpg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1 style="text-align: center;">Nhập bài hát</h1>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="#">
                <div class="row">
                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-music text-muted"></i>
                            </span>
                        </div>
                        <input type="text" name="name_music" placeholder="Nhập tên bài hát" class="form-control bg-white border-left-0 border-md">
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input type="text" name="name_singer" placeholder="Nhập tên ca sĩ" class="form-control bg-white border-left-0 border-md">
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input type="text" name="name_author" placeholder="Nhập tên tác giả" class="form-control bg-white border-left-0 border-md">
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-link text-muted"></i>
                            </span>
                        </div>
                        <input type="text" name="url" placeholder="Nhập URL nhạc" class="form-control bg-white border-left-0 border-md">
                    </div>
                    <!-- Job -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-flag text-muted"></i>
                            </span>
                        </div>
                        <select id="job" name="flag" class="form-control custom-select bg-white border-left-0 border-md">
                            <option value="">Chọn nhãn</option>
                            <option value="0">Buồn</option>
                            <option value="1">Vui</option>
                            <option value="2">Thư giản</option>
                        </select>
                    </div>
                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <a href="#" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Lưu</span>
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(function () {
            $('input, select').on('focus', function () {
                $(this).parent().find('.input-group-text').css('border-color', '#80bdff');
            });
            $('input, select').on('blur', function () {
                $(this).parent().find('.input-group-text').css('border-color', '#ced4da');
            });
        });
    });
    // For Demo Purpose [Changing input group text on focus]

</script>
</body>
</html>